################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Videos
/source
/Searches
/Saved Games
/pip
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{3fd4c3c6-ec59-11ed-bd9f-c5e2bff6e151}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{3fd4c3c6-ec59-11ed-bd9f-c5e2bff6e151}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{3fd4c3c6-ec59-11ed-bd9f-c5e2bff6e151}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/myRepository
/Music
/Links
/IntelGraphicsProfiles
/Favorites
/Downloads
/Documents
/developers
/Desktop
/Contacts
/AppData
/.vscode
/.viminfo
/.nuget
/.node_repl_history
/.lesshst
/.idlerc
/.idea
/.gitconfig
/.dotnet
/.bash_history
/.atom
