@page
@model IndexModel
@{
    ViewData["Title"] = "My Music Website";
}

<div class="text-center">
    <h1 class="display-4">My Favorite Music..</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bpGG2GV2A_k?si=VNiyFo6Mmz_Hw4rE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
